#GameOverScreen{
    height: max-content;
    width: max-content;
    background-color: black;
    color: red;
    font-family: cursive;
}
#HeartsAndPlayer{
    flex-direction: column;
    position: absolute;
    bottom: 5%;   
}
#Hearts{
    flex-direction: row;
    

}
.player{
    bottom: 50px;
    position: absolute;
}