#GameOverScreen{
    height: 100%;
    width: 100%;
    background-color: black;
    border: black solid 1px;
    
    color: red;
    font-family: cursive;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#HeartsAndPlayer{
    flex-direction: column;
    position: absolute;
    bottom: 5%;   
}
#Hearts{
    flex-direction: row;
    

}
.player{
    bottom: 50px;
    position: absolute;
}
#HeartLabel{
    font-family: cursive; 
    color: crimson;  
}